* {
	font-family: "Arial", monospace;
	font-size: 20px;
}

#para3{
	color: yellow;
}

h1{
	font-size: 450%;
}

h2{
	text-transform: uppercase;
}

.languages {
	background-color: lightgreen;
}

/*10. Change the border of the tools to be used list items using a attribute selectors.*/
[name]{
	border-width: 1px;
	border-style: solid;
	border-color: navy;
}


/*11. Change the list style type of the other things to be learned list using an adjacent sibling selector.*/
section + ul {
	list-style-type: none;
}


/*12. Change the dimensions of the image tag using a descendant selector.*/
section img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*13. Change the alignment of the last paragraph using a generic sibling selector.*/
ul ~ p{
	text-align: center;
}

/*14. Change the letter spacing of the other things to be learned list items using a child selector.*/
ul > li {
	letter-spacing: 5px;
}